@font-face {
    font-family: 'alata';
    src: url('../../font_assets/Alata-Regular.ttf');
}

html, body{
    font-family: alata !important;
    margin: 0;
    padding: 0;
}

.custom-checkbox{
    width:20px;
    border-radius:20px;
    height:20px;
    padding-left: 3px;
    padding-top: 2px
}

.custom-checkbox-success{
    background-color:#E8EFF5;
}

.custom-checkbox-danger{
    background-color:#F56C6C;
}